



/* SEARCH SECTION */
.input {
    width: auto;
    border-color: navy;
    background-color: aliceblue;
}

.cityBtn {
    background-color: skyblue;
    color: navy;
    font-weight: bold;
    font-size: larger;
    border: 2px solid navy;
    border-radius: 10px;
    box-shadow: 0 0 10px skyblue;
    
}

.cityBtn:hover {
    background-color: navy;
    border-color: aliceblue;
    color: aliceblue;
    box-shadow: 0 0 10px navy;
}

.titleText {
    color: navy;
    padding-top: 5px;
}
.buttonDiv {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px;   
}

.button.searchBtn {
    background-color: navy;
    color: aliceblue;
    border: 2px solid navy;
    border-radius: 10px;
}

.button.searchBtn:hover {
    color: white;
    box-shadow: 0 0 10px navy;
    border-color: aliceblue;
    font-weight: 500;
   
}
.searchbar {
    align-items: center;
    display: flex;
    justify-content: center;
    
}
/* END SEARCH SECTION */

/* HERO */
.title {
    text-align: center;
   
}

.subtitle {
    text-align: center;
    
}

.hero-body {
    background-color: navy;
   
}

.heroTitle {
    color: aliceblue;
}
/* END HERO */

.searchColumn {
    padding: 30px;
    border-right: 3px navy;
}

.weatherColumn {
    padding: 30px;
}

.currentCond {
    border: 2px solid navy;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.cityToday {
    padding-left: 10px;
    padding-bottom: 10px;
}
/* 5 DAY CARDS */

.dayCard {
    background-color: rgb(197, 224, 247);
    margin: 5px;
    color: navy;
    border: 2px solid navy;
    border-radius: 10px;
    box-shadow: 0 0 10px skyblue;
}

.column .is-one-fifth {
    flex: auto;
}

ul li {
    color: navy;
}